<toc id="toc"></toc>
<div>
    <span class="sticky-header about-header"><button md-icon-button fragment="about-me" routerLink="." mdTooltip="Link to this part" mdTooltipPosition="right" title="About"><md-icon svgIcon="link-variant"></md-icon></button><h2 id="about-me">About Me</h2></span>
    <br>
    <p class="about-paragraph">I'm currently a <strong>student</strong> who likes coding.</p>
    <ul class="about-list">
        <li>
            <p class="about-paragraph"><strong>Motto: </strong>To strive to be the best I can in everything!</p>
        </li>
        <li>
            <p class="about-paragraph"><strong>Hobbies: </strong>Coding, LEGO, reading</p>
        </li>
        <li>
            <p class="about-paragraph"><strong>Afraid of:</strong></p>
            <ol class="about-list">
                <li>Heights</li>
                <li>Certain insects</li>
            </ol>
        </li>
        <li>
            <p class="about-paragraph"><strong>Ambitions:</strong></p>
            <ol class="about-list">
                <li>Technician</li>
                <li>Game tester</li>
            </ol>
        </li>
        <li>
            <p class="about-paragraph"><strong>Things I'm currently working on:</strong></p>
            <ol class="about-list">
                <li>Homework</li>
                <li>Revision</li>
                <li>Angular4 Coding (<strong>NOTE:</strong> Unfortunately since Github Pages can't host single page applications (SPA), I will be moving over to this website you are on now.</li>
                <li>Mac Application (trying to find documentation but docs are too hard to understand: Hopefully I can find some place to get explanations and examples from...)</li>
                <li>LOTS and <strong>LOTS</strong> of school projects!!</li>
            </ol>
        </li>
    </ul>
</div>
<div>
    <span class="sticky-header about-header">
    <a md-icon-button fragment="dependencies" routerLink="." style="display: inline-block" mdTooltip="Link to this part" mdTooltipPosition="right"
        title="Dependencies">
        <md-icon svgIcon="link-variant"></md-icon>
    </a>
    <h2 id="dependencies">Dependencies</h2>
    </span>
    <br>
    <p class="about-paragraph">This was created with the following:</p>
    <ul class="about-list">
        <li><a href="https://angular.io" (click)="goToUrl($event)">Angular 4</a></li>
        <li><a href="https://material.angular.io" (click)="goToUrl($event)">Angular Material2</a></li>
        <li><a href="https://www.typescriptlang.org" (click)="goToUrl($event)">Typescript</a></li>
    </ul>
</div>