<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<span class="sticky-header"><button md-icon-button fragment="about-me" routerLink="." style="display: inline-block; float:left;" mdTooltip="Link to this part" mdTooltipPosition="right" title="About"><md-icon svgIcon="link-variant"></md-icon></button><h2 style="display: inline-block; margin:0;" id="about-me">About Me</h2></span>
<br>
<p class="about-paragraph">I'm currently a <strong>student</strong> who likes coding.</p>
</div>
<div>
<a md-icon-button fragment="dependencies" routerLink="." style="display: inline-block" mdTooltip="Link to this part" mdTooltipPosition="right" title="Dependencies"><md-icon svgIcon="link-variant"></md-icon></a><h2 style="display: inline-block; margin:0" id="dependencies">Dependencies</h2>
<br>
<p class="about-paragraph">This was created with the following:</p>
<ul class="about-list">
    <li><a href="https://angular.io" (click)="goToUrl($event)">Angular 4</a></li>
    <li><a href="https://material.angular.io" (click)="goToUrl($event)">Angular Material2</a></li>
    <li><a href="https://www.typescriptlang.org" (click)="goToUrl($event)">Typescript</a></li>
</ul>
</div>
<toc id="toc"></toc>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>