<div class="padding-content">
  <h1>Welcome to <a href="https://githubpageschan4077.firebaseapp.com" (click)="goToUrl($event)">Chan4077.Github.io
      <em>(version 2)</em></a>!</h1>
  <p>This is meant to test out <a href="https://chan4077.github.io" (click)="goToUrl($event)">Chan4077.Github.io
      <em>(version 1)</em></a> with Angular
    Material2!</p>
  <p><del>Pretty soon, the release for version 2 will be out!</del> <strong>UPDATE:</strong> This site is already
    updated to angular material2!</p>
  <p><em>View the old repo <a href="https://github.com/Chan4077/chan4077.github.io_old"
        (click)="goToUrl($event)">here</a></em></p>
  <a [routerLink]="['/blog', '2017-08-05-introducing-rss-reader.html']">Test</a>
</div>
