<mat-card>
    <mat-card-header>
        <button mat-icon-button (click)="goBack()" matTooltip="Go Back">
            <mat-icon svgIcon="arrow-left"></mat-icon>
        </button>
        <span fxFlex></span>
        <button mat-icon-button (click)="aboutThis()" matTooltip="About This Card">
            <mat-icon svgIcon="information"></mat-icon>
        </button>
    </mat-card-header>
    <mat-card-title>Error 404</mat-card-title>
    <mat-card-content>
        <p>Error 404: URL not found.</p>
        <p>The site you are accessing - <strong>https://githubpageschan4077.firebaseapp.com{{router.url}}</strong> is not available.</p>
        <p>Please contact the admin for more information.</p>
        <br>
        <p>To head back, click <mat-icon svgIcon="arrow-left" matTooltip="Go Back Icon"></mat-icon></p>
    </mat-card-content>
</mat-card>