<md-nav-list>
    <a md-list-item *ngFor="let project of projects" [routerLink]="['/projects'+project.href]" routerLinkActive="active-link"
        (click)="selected(project)">
        <md-icon md-list-icon svgIcon="{{project.icon}}" *ngIf="project.hasIcon"></md-icon>
        <h3 md-line>{{project.name}}</h3>
        <p *ngIf="project.hasDesc" md-line [innerHTML]="project.desc"></p>
    </a>
</md-nav-list>
<section>
    <md-toolbar color="accent" class="fixed-toolbar mat-elevation-z3" style="z-index: 2;">
        <button md-icon-button disableRipple style="cursor: default;">
        <md-icon svgIcon="{{projectSelected.icon}}"></md-icon>
        </button>
        <h4>{{projectSelected.name}}</h4>
        <span flex></span>
        <button md-icon-button mdTooltip="View Warnings" (click)="viewWarnings()">
            <md-icon svgIcon="alert"></md-icon>
        </button>
        <button md-icon-button mdTooltip="View Readme on Github" (click)="goToGithub(projectSelected.readmeUrl)">
            <md-icon svgIcon="book-open-variant"></md-icon>
        </button>
        &nbsp;
        <button md-icon-button mdTooltip="View Project on Github" (click)="goToGithub(projectSelected.githubUrl)">
        <md-icon svgIcon="github-circle"></md-icon>
    </button>
    </md-toolbar>
    <div class="project-content">
    <router-outlet></router-outlet>
    </div>
</section>