<h2 mat-dialog-title>Share</h2>
<mat-dialog-content fxLayout="column">
  <form #shareForm="ngForm" fxLayout="column">
    <section class="section">
      <mat-select placeholder="Choose social media" (ngModel)="socialMedia.name" name="socialMediaType" required>
        <mat-option *ngFor="let shareBtn of shareBtns" [value]="shareBtn.name" (click)="update(shareBtn)">
          {{shareBtn.name}}
        </mat-option>
      </mat-select>
      <mat-checkbox [(ngModel)]="showMore" [ngModelOptions]="{standalone:true}">Show more info</mat-checkbox>
      <div [hidden]="!showMore" class="moreinfo">
        <mat-form-field class="full-width" matTooltip="This is readonly and cannot be edited" matTooltipPosition="right">
          <input readonly [ngModel]="socialMedia.name" matInput placeholder="Name of social media" name="socialMediaType">
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <textarea [(ngModel)]="socialMedia.text" matInput placeholder="Text of post" rows="2" cols="100" name="socialMediaText"></textarea>
      </mat-form-field>
    </section>
    <p class="important note">Please allow popups to continue.</p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="share()" [disabled]="!shareForm.form.valid">Share</button>
</mat-dialog-actions>
