<h2 md-dialog-title>Share</h2>
<md-dialog-content fxLayout="column">
	<form #shareForm="ngForm" fxLayout="column">
		<section class="section">
			<md-select placeholder="Choose social media" (ngModel)="socialMedia.name" name="socialMediaType" required>
				<md-option *ngFor="let shareBtn of shareBtns" [value]="shareBtn.name" (click)="update(shareBtn)">
					{{shareBtn.name}}
				</md-option>
			</md-select>
			<md-checkbox [(ngModel)]="showMore" [ngModelOptions]="{standalone:true}">Show more info</md-checkbox>
			<div [hidden]="!showMore" class="moreinfo">
				<md-input-container class="full-width" mdTooltip="This is readonly and cannot be edited" mdTooltipPosition="right">
					<input readonly [ngModel]="socialMedia.name" mdInput placeholder="Name of social media" name="socialMediaType">
				</md-input-container>
			</div>
			<md-input-container class="full-width">
				<textarea [(ngModel)]="socialMedia.text" mdInput placeholder="Text of post" rows="2" cols="100" name="socialMediaText"></textarea>
			</md-input-container>
		</section>
		<p class="important note">Please allow popups to continue.</p>
	</form>
</md-dialog-content>
<md-dialog-actions align="end">
	<button md-button color="primary" (click)="share()" [disabled]="!shareForm.form.valid">Share</button>
</md-dialog-actions>