<div class="padding-percentage-container">
  <h1>Submit feedback</h1>
  <form [formGroup]="feedbackForm" fxLayout="column">
    <mat-form-field class="input-width">
      <mat-label>Name</mat-label>
      <input matInput name="user" formControlName="name">
      <mat-error>This is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="input-width">
      <mat-label>Feedback</mat-label>
      <textarea matInput formControlName="feedback"></textarea>
      <mat-error>This is required.</mat-error>
    </mat-form-field>
  </form>
  <div class="feedback-form-actions">
    <span fxFlex></span>
    <button mat-button color="primary" [disabled]="feedbackForm.invalid">Submit</button>
  </div>
</div>
